
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";

}

html,body{
  height: 100%;
  width: 100%;
}

body{
  overflow-x: hidden;
}

#main{
  position: relative;
  background-color: #111;
}

#cursor{
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.747);
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50% , -50%);
}

#loader{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #080808;
  padding: 10vw 20vh;
}

.line{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  overflow: hidden;
  gap: 3vw;
}

#line1-part1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#line1-part1 h5 , #line1-part1 h6{
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 400;
}

#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line h1{
  font-size: 6.5vw;
  text-transform: uppercase;
}

.line h2{
  font-size: 5vw;
  text-transform: uppercase;
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  text-align: left;
}

@keyframes textanime {
  0%{
    font-family: "Plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48%{
    font-family: "Plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#page1{
  height: 100vh;
  width: 100%;
  background-color: #161616;
}

#page1 #nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw 10vw;
}

#nav #nav-part2{
  display: flex;
  align-items: center;
  gap: 3vw;
}

#nav-part2 h3{
  font-size: 1.2vw;
  font-weight: 300;
}

.middle{ 
  width: 70%;
  margin-left: 30%;
  overflow: hidden;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;
}

.middle:nth-child(2){
  margin-top: 4vw;
}

.middle h1{
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
}

.middle h2{
  font-size: 7vw;
  text-transform: uppercase;
  border-bottom: 0.5vw solid #fff;
  padding-bottom: 0.5vw ;
  line-height: 7vw;
}

.middle h2:hover{
  -webkit-text-stroke: 1px #fff;
  font-weight: 100;
  color: transparent;
  border-bottom: 0.5vw solid #ffffff00;
}

#page2{
  height: 100vh;
  width: 100%;
  padding-top: 20vh;
  position: relative;
  background-color: #161616;
}

#video-container{
  height: 70vh;
  width: 70vw;
  position: relative;
  background-color: aqua;
  left: 30%;
  background-image: url(./Showreel-2022-preview-1.jpg);
}

#video-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#video-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cursor{
  height: 10vw;
  width: 10vw;
  background-color: #FFA63D;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  z-index: 99;
  right: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#video-cursor i{
  font-size: 2.5vw;
  color: #fff;
}

#page3{
  min-height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
}

#page4{
  min-height: 100vh;
  width: 100%;
  background-color: #161616;
  position: relative;
  padding: 5vh;
}

#page4-content{
  width: 75vw;
  position: relative;
  margin-left: 25%;
}

#page4-content h1{
  font-size: 7vw;
}

#page4-content .underline{
  height: 2px;
  width: 90%;
  background-color: white;
  margin: 1.5vw 0;
}

#page4-content>p{
  font-size: 2vw;
  width: 45%;
  margin: 4vw 0 5vw 0;
}

#page4-flex{
  display: flex;
}

#page4-flex img{
  height: 85vh;
}

#page4-flex p{
  font-size: 1.2vw;
  width: 25%;
  margin: 0 2vw;
}

#page4-elem{
  width: 58%;
  padding: 4vw 4vw;
  background-color: #3F7Df4;
  position: relative;
  margin-top: -20vh ;
  margin-left: 25vw;
}

#page4-elem .elem{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.8vw 0;
  border-bottom: 1px solid #fff;
}

.elem p{
  width: 60%;
  font-weight: 200;
  font-size: 1vw;
}

.elem h4{
  font-size: 1.5vw;
  font-weight: 500;
}

#page4-content .underline2{
  height: 2px;
  width: 90%;
  background-color: white;
  margin: 12vw 0;

}

.underline2 h4{
  padding: 2vw 0;
  font-weight: 200;
}

#page5{
  min-height: 100vh;
  width: 100%;
  background-color: #161616;
  padding: 5vw 0;

}