
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";

}

html,body{
  height: 100%;
  width: 100%;
}

#main{
  position: relative;
  background-color: #111;
}

#cursor{
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.747);
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50% , -50%);
}

#loader{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #080808;
  padding: 10vw 20vh;
}

.line{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  overflow: hidden;
  gap: 3vw;
}

#line1-part1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#line1-part1 h5 , #line1-part1 h6{
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 400;
}

#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line h1{
  font-size: 6.5vw;
  text-transform: uppercase;
}

.line h2{
  font-size: 5vw;
  text-transform: uppercase;
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  text-align: left;
}

@keyframes textanime {
  0%{
    font-family: "Plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48%{
    font-family: "Plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#page1{
  height: 100vh;
  width: 100%;
  background-color: #161616;
}

#page1 #nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw 10vw;
}

#nav #nav-part2{
  display: flex;
  align-items: center;
  gap: 3vw;
}

#nav-part2 h3{
  font-size: 1.2vw;
  font-weight: 300;
}

.middle{ 
  width: 70%;
  margin-left: 30%;
  overflow: hidden;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;
}

.middle:nth-child(2){
  margin-top: 4vw;
}

.middle h1{
  font-size: 6.8vw;
  text-transform: uppercase;
}

.middle h2{
  font-size: 6.8vw;
  text-transform: uppercase;
}

.middle h2:hover{
  -webkit-text-stroke: 1px #fff;
  font-weight: 100;
  color: transparent;
}

